<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html">
      <meta name="author" content="Tianzi">
      <title> Download Tiles </title>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    </head>
    <style>
    html,
    body,
        div#editArea {
          width: 100%;
          height: 500px;
          overflow: scroll;
        }
    </style>

    <body>
      <div>
        <button id="btnDownload" onclick="myFunction()">Download</button>
        <label id="status">Download Status:Wait</label>
        <button onclick="myStopFunction()">Stop time</button>
      </div>
      <div id="editArea">

      </div>

    </body>
    <script>
      //<button id="btnDownload" onclick="myFunction()">Download</button>
      //<button id="btnDownload">Download</button>
      // sar topo maps(best): https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/export?bbox=-2.561908697762756E7,-2.3305104928035405E7,2.561908697762756E7,2.3305104928035382E7
      var ncount=0;
      var ndownload=0;
      //url collection
      var urlobj={
        "gray":"https://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/0/0/0.png",
        "contour":"https://carto.nationalmap.gov/arcgis/rest/services/contours/MapServer/export?bbox=-80.580552%2C37.190493%2C-80.562082%2C37.171017&f=image&format=png&transparent=false&imageSR=4326&bboxSR=4326",
        "topo": "https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/14/6362/4528.png"
      };
      var myTimer;

      function getImage(url,filename){
        axios({
              url: url,
              method: 'GET',
              responseType: 'blob'
        }).then((response) => {
                    const url = window.URL
                          .createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', filename);
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);

                    ndownload=ndownload+1;
                    document.getElementById("status").value="Downloading: "+ndownload.toString()+"/"+ncount.toString();
              });
        return;
      }
      function degrees_to_radians(degrees)
      {
        let pi = Math.PI;
        return degrees * (pi/180);
      }
      function radians_to_degrees(radians)
      {
        let pi = Math.PI;
        return radians * (180/pi);
      }

      //https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames
      //deg2num(lat_deg, lon_deg, zoom)
      function WorldToTilePos(lon_deg, lat_deg, zoom){
        let lat_rad = degrees_to_radians(lat_deg);
        let n=2.0 ** zoom;
        let xtile = (lon_deg + 180.0) / 360.0 * n;
        let ytile = (1.0 - Math.asinh(Math.tan(lat_rad)) / Math.PI) / 2.0 * n;
        return [xtile,ytile];
      }
      //num2deg(xtile, ytile, zoom)
      function TileToWorldPos(xtile, ytile, zoom)
      {
        let n = 2.0 ** zoom;
        lon_deg = xtile / n * 360.0 - 180.0;
        lat_rad = Math.atan(Math.sinh(Math.PI * (1 - 2 * ytile / n)));
        lat_deg = radians_to_degrees(lat_rad);
        return [lon_deg,lat_deg];
      }

      function DownloadLatLong(latT, longL, latB, longR, zoom)
      {
          let pTL = WorldToTilePos(longL, latT, zoom);
          let pTR = WorldToTilePos(longR, latT, zoom);
          let pBL = WorldToTilePos(longL, latB, zoom);
          let pBR = WorldToTilePos(longR, latB, zoom);
          /*
          let minx = Math.round(Math.min(pTL[0], pTR[0]));
          let maxx = Math.round(Math.max(pTL[0], pTR[0]));
          let miny = Math.round(Math.min(pTL[1], pBL[1]));
          let maxy = Math.round(Math.max(pTL[1], pBL[1]));
          */
          let minx = Math.floor(Math.min(pTL[0], pTR[0]));
          let maxx = Math.floor(Math.max(pTL[0], pTR[0]));
          let miny = Math.floor(Math.min(pTL[1], pBL[1]));
          let maxy = Math.floor(Math.max(pTL[1], pBL[1]));

          let totalTiles = (maxx - minx) * (maxy - miny);
          console.log(totalTiles);

          let sartopourl1="https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/export?";//best
          //let elevationurl1="https://stamen-tiles-{subDomain}.a.ssl.fastly.net/terrain/{level}/{col}/{row}.png";
          //let elevationsubDomains: ["a", "b", "c", "d"],
          let url1="https://carto.nationalmap.gov/arcgis/rest/services/contours/MapServer/export?";
          let url2="&f=image&format=png&transparent=true&imageSR=4326&bboxSR=4326";//&size=256%2C256
          let urlmid,imgname;

          for (let x = minx; x < maxx; x++){
            for (let y = miny; y < maxy; y++){
              //https://carto.nationalmap.gov/arcgis/sdk/rest/index.html#/Export_Image/02ss00000075000000/
              //bbox Syntax: <xmin>, <ymax>, <xmax>, <ymin>
              //Example: bbox=-104,35.6,-94.32,41
              //urlmid="bbox=-80.580552%2C37.190493%2C-80.562082%2C37.171017";
              imgname=zoom.toString()+"_"+x.toString()+"_"+y.toString()+".png";
              //x,y,z to lat
              let lefttop=TileToWorldPos(x, y, zoom);
              let rightbottom=TileToWorldPos(x+1, y+1, zoom);
              urlmid="bbox="+lefttop[0].toString()+"%2C"+lefttop[1].toString()+"%2C"+rightbottom[0].toString()+"%2C"+rightbottom[1].toString();
              getImage(url1+urlmid+url2,imgname);
              ncount=ncount+1;
              console.log(ncount, url1+urlmid+url2,imgname);
              let para = document.createElement("P");               // Create a <p> element
              para.innerText = ncount.toString()+": "+ sartopourl1+urlmid+url2,imgname;               // Insert text
              document.getElementById("editArea").appendChild(para);

            }
          }
      }
      function downloadloop(x,miny,maxx,maxy,zoom,url){
        let url1=url;
        let url2=".png";//&size=256%2C256
        let urlmid,imgname;
        for (let y = miny; y < maxy; y++){
          imgname=zoom.toString()+"_"+x.toString()+"_"+y.toString()+".png";
          //x,y,z to lat
          urlmid=zoom.toString()+"/"+y.toString()+"/"+x.toString();
          getImage(url1+urlmid+url2,imgname);
          ncount=ncount+1;
          console.log(ncount, url1+urlmid+url2,imgname);
          let para = document.createElement("P");               // Create a <p> element
          para.innerText = ncount.toString()+": "+ url1+urlmid+url2,imgname;               // Insert text
          document.getElementById("editArea").appendChild(para);
        }
        setTimeout(() => {
          x=x+1;
          if(x<maxx){
            downloadloop(x,miny,maxx,maxy,url);
          }
          console.log(ncount,"start");
        }, 1000);
      }
      function DownloadLatLong_ESRI_wait(latT, longL, latB, longR, zoom, url, timegap=1000){

            let pTL = WorldToTilePos(longL, latT, zoom);
            let pTR = WorldToTilePos(longR, latT, zoom);
            let pBL = WorldToTilePos(longL, latB, zoom);
            let pBR = WorldToTilePos(longR, latB, zoom);

            let minx = Math.round(Math.min(pTL[0], pTR[0]));
            let maxx = Math.round(Math.max(pTL[0], pTR[0]));
            let miny = Math.round(Math.min(pTL[1], pBL[1]));
            let maxy = Math.round(Math.max(pTL[1], pBL[1]));

            let totalTiles = (maxx - minx) * (maxy - miny);
            console.log(totalTiles);
            // https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/14/6362/4528.png
            // tile/zoom/y/x.png
            //"https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/";//best

            downloadloop(minx,miny,maxx,maxy,zoom,url);
      }

      function ListLatLong_ESRI(latT, longL, latB, longR, zoom, url){

            let pTL = WorldToTilePos(longL, latT, zoom);
            let pTR = WorldToTilePos(longR, latT, zoom);
            let pBL = WorldToTilePos(longL, latB, zoom);
            let pBR = WorldToTilePos(longR, latB, zoom);

            let minx = Math.round(Math.min(pTL[0], pTR[0]));
            let maxx = Math.round(Math.max(pTL[0], pTR[0]));
            let miny = Math.round(Math.min(pTL[1], pBL[1]));
            let maxy = Math.round(Math.max(pTL[1], pBL[1]));

            let totalTiles = (maxx - minx) * (maxy - miny);
            console.log(totalTiles);
            // https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/14/6362/4528.png
            // tile/zoom/y/x.png
            let url1=url;//"https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/";//best
            let url2=".png";//&size=256%2C256
            let urlmid,imgname;
            let resarr=[];
            let resarrname=[];

            for (let x = minx; x < maxx; x++){
              for (let y = miny; y < maxy; y++){
                //https://carto.nationalmap.gov/arcgis/sdk/rest/index.html#/Export_Image/02ss00000075000000/
                //bbox Syntax: <xmin>, <ymax>, <xmax>, <ymin>
                //Example: bbox=-104,35.6,-94.32,41
                imgname=zoom.toString()+"_"+x.toString()+"_"+y.toString()+".png";
                //x,y,z to lat
                urlmid=zoom.toString()+"/"+y.toString()+"/"+x.toString();
                //getImage(url1+urlmid+url2,imgname);
                resarr.push(url1+urlmid+url2);
                resarrname.push(imgname);
                ncount=ncount+1;
                //console.log(ncount, url1+urlmid+url2,imgname);
                let para = document.createElement("P");               // Create a <p> element
                para.innerText = ncount.toString()+": "+ url1+urlmid+url2,imgname;               // Insert text
                document.getElementById("editArea").appendChild(para);

              }
            }
            //console.log(resarr);
            return {"arr_url":resarr,"arr_name":resarrname};
      }
      function loopdownload(totalcount,step,arr_list){
        var tempcount=0;
        getImage(arr_list.arr_url[tempcount],arr_list.arr_name[tempcount]);
        console.log(tempcount,arr_list.arr_url[tempcount],arr_list.arr_name[tempcount]);
        tempcount=tempcount+1;
        myTimer=setInterval(function(){
          while(tempcount%step != 0 && tempcount<totalcount){
            getImage(arr_list.arr_url[tempcount],arr_list.arr_name[tempcount]);
            console.log(tempcount%step,tempcount,totalcount);
            tempcount=tempcount+1;
          }
          getImage(arr_list.arr_url[tempcount],arr_list.arr_name[tempcount]);
          console.log(tempcount);
          tempcount=tempcount+1;
        }, 1000);
        return;
      }
      function DownloadLatLong_ESRI(latT, longL, latB, longR, zoom, url){

            let pTL = WorldToTilePos(longL, latT, zoom);
            let pTR = WorldToTilePos(longR, latT, zoom);
            let pBL = WorldToTilePos(longL, latB, zoom);
            let pBR = WorldToTilePos(longR, latB, zoom);

            let minx = Math.round(Math.min(pTL[0], pTR[0]));
            let maxx = Math.round(Math.max(pTL[0], pTR[0]));
            let miny = Math.round(Math.min(pTL[1], pBL[1]));
            let maxy = Math.round(Math.max(pTL[1], pBL[1]));

            let totalTiles = (maxx - minx) * (maxy - miny);
            console.log(totalTiles);
            // https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/14/6362/4528.png
            // tile/zoom/y/x.png
            let url1=url;//"https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/";//best
            let url2=".png";//&size=256%2C256
            let urlmid,imgname;

            for (let x = minx; x < maxx; x++){
              for (let y = miny; y < maxy; y++){
                //https://carto.nationalmap.gov/arcgis/sdk/rest/index.html#/Export_Image/02ss00000075000000/
                //bbox Syntax: <xmin>, <ymax>, <xmax>, <ymin>
                //Example: bbox=-104,35.6,-94.32,41
                imgname=zoom.toString()+"_"+x.toString()+"_"+y.toString()+".png";
                //x,y,z to lat
                urlmid=zoom.toString()+"/"+y.toString()+"/"+x.toString();
                getImage(url1+urlmid+url2,imgname);
                ncount=ncount+1;
                console.log(ncount, url1+urlmid+url2,imgname);
                let para = document.createElement("P");               // Create a <p> element
                para.innerText = ncount.toString()+": "+ url1+urlmid+url2,imgname;               // Insert text
                document.getElementById("editArea").appendChild(para);

              }
            }
      }
      function DownloadLatLong_esritopo(latT, longL, latB, longR, zoom)
      {
          let pTL = WorldToTilePos(longL, latT, zoom);
          let pTR = WorldToTilePos(longR, latT, zoom);
          let pBL = WorldToTilePos(longL, latB, zoom);
          let pBR = WorldToTilePos(longR, latB, zoom);

          let minx = Math.round(Math.min(pTL[0], pTR[0]));
          let maxx = Math.round(Math.max(pTL[0], pTR[0]));
          let miny = Math.round(Math.min(pTL[1], pBL[1]));
          let maxy = Math.round(Math.max(pTL[1], pBL[1]));

          let totalTiles = (maxx - minx) * (maxy - miny);
          console.log(totalTiles);
          // https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/14/6362/4528.png
          // tile/zoom/y/x.png
          let url1="https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/";//best
          let url2=".png";//&size=256%2C256
          let urlmid,imgname;

          for (let x = minx; x < maxx; x++){
            for (let y = miny; y < maxy; y++){
              //https://carto.nationalmap.gov/arcgis/sdk/rest/index.html#/Export_Image/02ss00000075000000/
              //bbox Syntax: <xmin>, <ymax>, <xmax>, <ymin>
              //Example: bbox=-104,35.6,-94.32,41
              imgname=zoom.toString()+"_"+x.toString()+"_"+y.toString()+".png";
              //x,y,z to lat
              urlmid=zoom.toString()+"/"+y.toString()+"/"+x.toString();
              getImage(url1+urlmid+url2,imgname);
              ncount=ncount+1;
              console.log(ncount, url1+urlmid+url2,imgname);
              let para = document.createElement("P");               // Create a <p> element
              para.innerText = ncount.toString()+": "+ url1+urlmid+url2,imgname;               // Insert text
              document.getElementById("editArea").appendChild(para);

            }
          }
      }

      function getImageFromMapServerRestAPI(){
        // define the rect: xmin,ymin,xmax,ymax, zoom level:[10,11,12]
        // virginia 36-38,-83,-75.5
        let latT=37.5;
        let longL=-80.5;
        let latB=38;
        let longR=-80;
        let zoom=[10,11,12,13];//[10,11,12,13,14,15,16];[1,2,3,4,5,6,7,8,9,10,11,12,13];
        //DownloadLatLong(latT, longL, latB, longR, zoom);
        //let arr=[36,-83,38,-75.5];//virginia
        let arr_mid=[36.5,-81,37.5,-79.5];
        let arr_small=[37.190948,-80.517376,37.258685,-80.354287];//blacksburg 37.258685, -80.517376 37.190948, -80.354287
        let arr=arr_mid;
        //"gray":"https://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/0/0/0.png",
        //"contour":"https://carto.nationalmap.gov/arcgis/rest/services/contours/MapServer/export?bbox=-80.580552%2C37.190493%2C-80.562082%2C37.171017&f=image&format=png&transparent=false&imageSR=4326&bboxSR=4326",
        //"topo": "https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer/tile/14/6362/4528.png"
        let url="https://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/";
        for(let i=0;i<zoom.length;++i){
          // from contour
          //DownloadLatLong(arr[0],arr[1],arr[2],arr[3], zoom[i]);

          // from topo
          //DownloadLatLong_esritopo(arr[0],arr[1],arr[2],arr[3], zoom[i]);

          // from esri gray
          //DownloadLatLong_ESRI(arr[0],arr[1],arr[2],arr[3], zoom[i], url);

          // from esri gray wait 1000
          let arr_list=ListLatLong_ESRI(arr[0],arr[1],arr[2],arr[3], zoom[i], url);
          //arr_url,arr_name
          //console.log(arr_list);
          loopdownload(arr_list.arr_url.length,10,arr_list);
        }

      }
      function myStopFunction() {
        clearInterval(myTimer);
      }
      function myFunction() {
        getImageFromMapServerRestAPI();
        //download();
        return;
      }

      function Test(){
        var URL = "https://carto.nationalmap.gov/arcgis/rest/services/contours/MapServer/export";
        var data = {
                "bbox": "-9944384.97020934,5204552.613539498,-9942641.580347946,5204809.513507824",
                "f":"image",
                "format": "jpgpng"
               };
        $.post(URL, data, function(response){
          const url = window.URL.createObjectURL(new Blob([response], { type: "image/png" }));
          var img = new Image();
          img.src = url;
          console.log("data length: " + data.length);
          console.log("url: " + url);
          document.body.appendChild(img);

          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'image.png');
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          console.log(response);
        });
      }

    </script>
</html>
